@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 17% 94%;
    --foreground: 221 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 221 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 221 30% 20%;
    --primary: 221 23% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 221 30% 20%;
    --muted: 220 14% 96%;
    --muted-foreground: 221 15% 45%;
    --accent: 189 53% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 221 20% 88%;
    --input: 221 20% 88%;
    --ring: 189 53% 53%;
    --radius: 0.75rem;
    --sidebar-background: 221 23% 62%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 189 53% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 221 15% 55%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 221 15% 55%;
    --sidebar-ring: 189 53% 53%;
  }

  .dark {
    --background: 221 30% 10%;
    --foreground: 210 40% 98%;
    --card: 221 30% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 221 30% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 221 23% 62%;
    --primary-foreground: 210 40% 98%;
    --secondary: 221 30% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 221 30% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 189 53% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 221 30% 20%;
    --input: 221 30% 20%;
    --ring: 189 53% 53%;
    --sidebar-background: 221 30% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 189 53% 53%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 221 30% 18%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 221 30% 20%;
    --sidebar-ring: 189 53% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}